
body{
    font: 20px Arial,  sans-serif;
}



.navbar {
    background-color: rgba(15, 193, 238, 0.664);
}

.quem-somos{
    background-color: rgb(74, 151, 145);
    color: white;
}

.margin{
   /* padding-top: 50px; */
    padding-bottom: 50px;
    padding-top: 10px;
}
   
.parceiros{
        background-color: rgba(15, 193, 238, 0.664);
        /*color: white; */
    }

    .bg-footer{
        background-color: black;
        color: white;
    }